<header class="header js-header" data-module="HeaderDropDown">
  <div class="skip-navigation">
    <a href="#main-content"
      class="skip-navigation__wrapper u-visuallyhidden js-skip-navigation">
      Skip to main content
    </a>
  </div>
  {% include '@includes/3_components/global-header.twig' with navPrimary %}
</header>
