.anchor-link__bar {
  --anchor-border-size: 4px;
  --anchor-border-style: solid;
  --anchor-border-color: transparent;
  --anchor-divider-color: #d8d8d8;
  --anchor-divider-width: 1px;
  margin-block-end: 3rem;

  ul {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style-type: none;
    padding-left: unset;
  }

  li {
    margin-inline: 2rem;
    padding-block: .7rem;
    position: relative;

    &:before {
      border-bottom: var(--anchor-border-size) var(--anchor-border-style) transparent;
      bottom: 0;
      content: '';
      display: block;
      margin-block-start: 0;
      position: absolute;
      transition: all 200ms linear;
      width: 100%;
      will-change: border-color;
    }

    &:hover,
    &:focus-within {
      .anchor-link {
        text-decoration: none;
      }

      &:before {
        border-bottom-color: var(--anchor-border-color);
      }
    }

    @include breakpoint($large-tablet) {
      &:not(:last-child):after {
        background-color: var(--anchor-divider-color);
        content: '';
        height: 100%;
        position: absolute;
        right: -2rem;
        top: 0;
        width: var(--anchor-divider-width);
      }
    }
  }

  .anchor-link {
    display: inline-block;
    font-weight: 500;
    text-align: center;
  }
}
