:root {
  --video-bg: var(--color-primary);
  --video-bg-img: none;
  --video-fg: var(--color-white);
}

.video-player {
  overflow: hidden;

  &__wrapper {
    display: flex;
    flex-flow: column wrap;

    @include breakpoint($large-tablet) {
      align-items: center;
      flex-flow: row;
    }
  }

  &__info {
    align-self: stretch;
    background-color: var(--video-bg);
    background-image: var(--video-bg-img);
    color: var(--video-fg);
    padding: 3rem;

    @include breakpoint($large-tablet) {
      display: flex;
      flex: 1 0 40%;
      flex-flow: column;
      justify-content: center;
    }

    @include breakpoint($desktop) {
      padding-inline: 6rem;
    }

    h2 {
      color: var(--video-fg);
      margin: 0;
    }

    .reference {
      color: var(--video-fg);
      margin-top: 0;
      padding: 0;
    }
  }

  &__media {
    align-self: stretch;
    aspect-ratio: 16/9;
    height: auto;
    width: 100%;

    @include breakpoint($large-tablet) {
      flex: 1 0 60%;
    }

    .video-js {
      height: 100%;
      width: 100%;
    }
  }

  &__transcript {
    padding: 1.5rem 1.5rem 3rem;

    .transcript__content {
      max-height: min(50vh, 40rem);
      overflow: auto;
      scrollbar-gutter: stable;
    }
  }

  &__chapters {
    list-style: none;
    padding-inline-start: 0;
  }

  &__chapter {
    border: 0;
    cursor: pointer;
    padding: 0;

    strong {
      text-decoration: underline;
    }

    &:focus,
    &:hover {
      strong {
        text-decoration: none;
      }
    }
  }

  &__watch-button {
    border: 0;
    cursor: pointer;
    padding: 0;
    text-align: left;

    &:hover {
      text-decoration: underline;
    }
  }

  // player-specific overrides
  .video-js {
    .vjs-big-play-button {
      background: none;
      border-radius: 100vmax;
      font-size: 10rem;
      height: 1.2em;
      inset: 50% auto auto 50%;
      margin: auto;
      opacity: .7;
      transition: all .2s ease-in-out;
      translate: -50% -50%;
      width: 1.2em;

      &:before {
        background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="72" height="107" viewBox="0 0 72 107"%3E%3Cpath fill="%23FFF" d="M0 .913423v106l72-53z"/%3E%3C/svg%3E%0A');
        background-position: 50%;
        background-size: contain;
        content: '';
        display: block;
        filter: drop-shadow(0 0 9px rgb(0 0 0 / 50%));
        font-family: unset;
        font-size: 1em;
        height: 100%;
        left: 50%;
        line-height: 1;
        margin: 0;
        opacity: 1;
        position: relative;
        translate: -35%;
        width: 50%;
      }

      .vjs-icon-placeholder {
        display: none;
      }

      &:hover,
      &:focus {
        box-shadow: none;
        opacity: 1;
      }

      &:focus-visible {
        outline: 1px dashed;
        outline-offset: 2rem;
      }
    }

    .vjs-control.vjs-button {
      &:focus-visible {
        outline: 1px dashed;
      }

      &:hover,
      &:focus {
        &:before {
          text-shadow: none;
        }
      }
    }

    .vjs-volume-bar {
      &:before {
        box-shadow: none;
      }
    }

    .vjs-progress-holder {
      &:focus-visible {
        outline: 1px dashed;
      }

      &:focus {
        &:before {
          box-shadow: none;
        }
      }
    }

    .vjs-volume-level {
      background-color: var(--color-primary);
    }
  }
}
