.header {
  background-color: var(--color-white);
  color: var(--color-black);
  position: sticky;
  top: 0;

  .skip-navigation {
    a {
      position: absolute;
      height: 1px;
      width: 1px;
      overflow: hidden;
      margin: -1px;
    }
  }
}
