<section class="global-header js-global-header" style="margin-bottom: 0px;">
	{% include "@includes/3_components/global-header-desktop.twig" with navPrimary %}
	{% include "@includes/3_components/global-header-mobile.twig"  with navPrimary  %}

</section>
