<nav class="nav nav--primary nav--campaign" aria-label="Primary">
  <div class="nav__inner wrapper">
    <div class="nav__menu" id="nav__menu">
      {% include "@includes/2_pieces/menu.twig" %}
    </div>
  </div>
</nav>