<nav class="nav nav--super-utility" aria-label="Super Utility">
  <div class="nav__inner wrapper">
    {% include "@includes/2_pieces/menu.twig" %}

    <div class="disclaimer">
      {% block disclaimer %}
        <p>This site is for US healthcare professionals only.</p>
      {% endblock %}
    </div>
  </div>

</nav>