<div class="scrolltop" data-module="ScrollToTop">
  <a href="#top" class="scrolltop__anchor" aria-label="Back to Top">
    {% include "@includes/2_pieces/icon.twig" with {
      icon: 'icon-b2t',
      iconClass: 'scrolltop__image'
    } %}
  </a>
</div>